// Заголовки, общие БЄМ блоки и проче...
.button {
    background-color: $blueColor;
    color: #fff;
    min-height: rem(42);
    padding: rem(8) rem(17);
    border-radius: rem(21);
    display: inline-flex;
    align-items: center;
    gap: rem(14);
    font-size: rem(16);
    @media (max-width:$mobileSmall){
        justify-content: center; 
    }
    &_no-bg {
        background-color: transparent;
        color: $darkColor;
        border: solid 1px rgba(38, 39, 45, 0.1);
    }

    &_l {
        min-height: rem(60);
        border-radius: rem(30);
    }
}

.title {
    font-family: 'VarelaRound', sans-serif;
    color: $darkColor;
    @include adaptiveValue("font-size",42,24);
    line-height: 1.24;
}

.subtitle {
    font-size: rem(12);
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.slider {
    // .slider__navigation
    &__navigation {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding: 0 rem(20);
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width:$mobileSmall){
            padding: 0;
            margin: 0 rem(-15);
            width: calc(100% + 30px);
        }
    }

    // .slider__navigation-item
    &__navigation-item {
        font-size: rem(42);
        color: $grayColor;
        pointer-events: auto;
        // .slider__navigation-item_prev
        &_prev {
            // left: 0;
        }

        // .slider__navigation-item_next
        &_next {
            // right: 0;
            &::before {
                transform: rotate(180deg);
            }
        }
    }
}