// Заголовки, общие БЄМ блоки и проче...
.button {
    background-color: $blueColor;
    color: #fff;
    min-height: rem(42);
    padding: rem(8) rem(17);
    border-radius: rem(21);
    display: inline-flex;
    align-items: center;
    gap: rem(14);
    font-size: rem(16);
    @media (max-width:$mobileSmall){
        justify-content: center; 
    }
    &_no-bg {
        background-color: transparent;
        color: $darkColor;
        border: solid 1px rgba(38, 39, 45, 0.1);
    }
}

.title {
    font-family: 'VarelaRound', sans-serif;
    color: $darkColor;
    @include adaptiveValue("font-size",42,24);
    line-height: 1.24;
}