//====================================================================================================
.wrapper {
}
.page {
	// .page__main-screen
	&__main-screen {
	}
    // .page__features
    &__features {
    }
    // .page__iphone-feature
    &__iphone-feature {
    }
}
.main-screen {
        @include adaptiveValue("padding-top",200,70);
        position: relative;
        background: url('../img/main-screen/bg.jpg');
        background-size: cover;
        background-position: center;
        // &::before {
        //     content:'';
        //     position: absolute;
        //     z-index: -1;
        //     top: 0;
        //     left: 50%;
        //     transform: translate(-50%);
        //     width: rem(1600);
        //     height: 100%;
            
        // }
		// .main-screen__container
		&__container {
		}
        // .main-screen__content
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
		// .main-screen__title
		&__title {
            @include adaptiveValue("font-size",62,30);
            text-align: center;
            &:not(:last-child) {
                margin-bottom: em(40,62);
            }
		}

		// .main-screen__text

		&__text {
            max-width: rem(780);
            text-align: center;
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom",60,20);
            }
            @include adaptiveValue("font-size",20,16);
		}

		// .main-screen__button

		&__button {
            &::before{
                transform: rotate(180deg);
                font-size: rem(8);
            }
		}

		// .main-screen__image-ibg
		&__image {
            @include adaptiveValue("margin-top",55,20);
            position: relative;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @include adaptiveValue("width",369,250);
            @include adaptiveValue("padding-bottom",455,309);
            
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                // box-shadow: 3.4px 9.4px 16px 0 rgba(61, 61, 62, 0.14), 15px 41.3px 66px 0 rgba(92, 95, 101, 0.15);
            }
		}
}
//====================================================================================================

.features {
    @include adaptiveValue("padding-top",120,30);
    @include adaptiveValue("padding-bottom",170,30);
    // .features__container
    &__container {
    }

    // .features__body
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        column-gap: rem(30);
        row-gap: rem(30);
    }

    // .features__item
    &__item {
        
    }
}

.item-features {
    max-width: rem(495);
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap",45,20);
    @include adaptiveValue("padding-left",40,0,1200,920);
    // .item-features__image
    &__image {
        img {
            height: rem(47);
        }
    }

    // .item-features__title
    &__title {
        @include adaptiveValue("font-size",26,22);
        line-height: 1.31;
        font-weight: 300;
        color: $darkColor;
    }

    // .item-features__text
    &__text {
        @include adaptiveValue("font-size",18,16);
        line-height: 1.44;
    }
}
//====================================================================================================

.iphone-feature {
    @media (min-width:$tablet){
        @include adaptiveValue("padding-top",265,30);
        @include adaptiveValue("padding-bottom",230,30);
    }
    
    // .iphone-feature__container

    &__container {
    }

    // .iphone-feature__body

    &__body {
        
        @media (min-width:$tablet){
            display: flex;
        }
    }

    // .iphone-feature__image
    &__image {
        flex: 1 1 auto;
        position: relative;
        text-align: center;
        img {
            width: 80%;
            @media (min-width:$tablet){
                position: absolute;
                right: rem(20);
                top: 50%;
                transform: translateY(-50%);
                width: percent(1200,900);
            }
            
        }
    }

    // .iphone-feature__content
    &__content {
        flex: 0 0 percent(470,1170);
    }

    // .iphone-feature__title

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",75,20);
        }
    }

    // .iphone-feature__text

    &__text {
        @include adaptiveValue("font-size",20,16);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",75,20);
        }
    }

    // .iphone-feature__buttons

    &__buttons {
        display: inline-flex;
        column-gap: rem(20);
        row-gap: rem(10);
    }

    // .iphone-feature__button
    &__button {
    }
}
//====================================================================================================

//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================